[submodule "app/libXray"]
	path = app/libXray
	url = git@github.com:XTLS/libXray.git
[submodule "app/src/main/jni/hev-socks5-tunnel"]
	path = app/src/main/jni/hev-socks5-tunnel
	url = git@github.com:heiher/hev-socks5-tunnel.git
